body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5bc08e;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  margin-bottom: 50px;
}

.section {
  text-align: center;
  min-height: 200px;
  max-width: 800px;
  min-width: 600px;
  border-radius: 10px;
  padding: 20px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 69px;
  background: #5bc08e;
  box-shadow:  38px 38px 77px #4da379,-38px -38px 77px #69dda3;
}

.form-group {
  border-radius: 10px;
  display: grid;
  text-align: left;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.formWrap {
  width: 350px;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 10px;
}

.button {
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  cursor: pointer;
  border: 1px solid #5bc08e;
  transition: all 0.3s;
  background: linear-gradient(155deg, #61cd98, #52ad80);
  box-shadow:  -6px -6px -12px #4da379,6px 6px 12px #69dda3;
}

.button:hover {
  border: 1px solid #5bc08e;
  box-shadow: inset 4px 4px 12px #4da379, inset -4px -4px 12px #69dda3;
}

.input {
  resize: none;
  border: none;
  padding: .5rem;
  border-radius: 1rem;
  background: #c5dacb;
  transition: 0.3s;
}

.input:focus {
  border: none;
  outline: none;
  background: #e8e8e8;
  box-shadow: inset 4px 4px 12px #bfbfbf, inset -4px -4px 12px #ffffff;
  transition: 0.3s;
}

.radiogroup {

  border-radius: 16px;
  margin: 20px;
  text-align: left;
}

.textarea {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#msg{
  margin-top: 10px;
}

.wrapper {
  margin: 8px 0;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1e-5;
  pointer-events: none;
}

.label {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  cursor: pointer;
  color: #394a56;
}

.inputlabel {
  display: flex;
  cursor: pointer;
  color: #394a56;
}

.text {
  opacity: 1;
  transition: opacity 0.2s linear, transform 0.2s ease-out;
}

.indicator {
  position: relative;
  margin-left: 20px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-shadow: -8px -4px 8px 0px #69dda3, 8px 4px 12px 0px #4da379;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow: -4px -2px 4px 0px #4da379, 4px 2px 8px 0px #69dda3;
}

.indicator::after {
  background-color: #5bc08e;
  box-shadow: -4px -2px 4px 0px #69dda3, 4px 2px 8px 0px #52ad80;
  transform: scale3d(1, 1, 1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(0.975, 0.975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}

.label:hover .text {
  opacity: 1;
}